

@import 'https://fonts.googleapis.com/css?family=Montserrat';



body {
  background:black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  transition:smooth;
  cursor:default;
}
.special {
  box-shadow:
    0 0 25px 0px #71A9F7,
    0 0 90px 0px #71A9F7;
  animation-name:pulse;
  animation-duration: 1.5s;
  animation-iteration-count: 2;
  margin-top:90px;
  height: 25vw;
  width: 25vw;
  border-style: solid;
  border-radius: 50%;
  border-width: 4px;
  border-color: #71A9F7;
  display: inline-block;
  position:absolute;
  top: -75px;
  left:-5%;
}
#load {
  font-family: ZCOOL QingKe HuangYou, cursive;
  letter-spacing: 10px;
  font-size:20pt;
  background-color: black;
  height: 100vh;
  width: 100%;
  position: relative;
  left:41%;
  top:100px;
}
#loadtext {
  animation:none;


  position: absolute;
  width: 100%;
  height: 100%;
  font-size:4.5vw;
  display: flex;
  justify-content: center;
  margin-top:13vh;
}
#loadsmalltext{
  animation:none;


  letter-spacing: 2.5px;
  font-size:1vw;
  font-family: Lato;
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top:29vh;
  margin-left:7vw;
}



.fade {
  animation-name: fade;
  animation-delay: 0s;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes fade {
  0% {opacity: 0;}
  50% {opacity: 0.6;}
  100% {opacity: 0;}
}

.fader {
  animation-name: fader;
  animation-delay: 0s;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}

@keyframes fader {
  0% {opacity: 0;}
  100% {opacity: 1;}
}



#logo {
  font-family: ZCOOL QingKe HuangYou, cursive;
  margin-left: 45px;
  font-size:40px;
}
#creator {
  font-family: Montserrat;
  padding-left: 45px;
  font-size:15px;
  display: none;
  opacity:0;
}
#logo:hover {
  animation-name: heartBeat;
  animation-duration: 4s;
}

#logo:hover ~ #creator{
  display: block;
  animation-name: fade;
  animation-duration: 2s;
}
@keyframes fade{
  from {opacity:0;}
  50% {opacity:1;}
  to {opacity:0;}
}
.heading-text {
  font-family:"ZCOOL QingKe HuangYou", cursive; 
  font-size:30px;
  margin-bottom:40px;
}
.normal-text {
  font-family:"Quicksand"; 
  font-size:15px;
  margin-bottom:40px;
  line-height: 20px;
  text-align: justify;
  margin-left:20px;
  margin-right:20px;
}
#snackbar {
  visibility: hidden;
  min-width: 100px;
  background-color: none;
  border-color: #A9E5BB;
  color:#A9E5BB;
  border-style:solid;
  border-width: 1.5px;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  right: 50px;
  top: 30px;
  font-size: 17px;
  transition: opacity 0.3s linear;
  opacity:0;
}

#snackbar.show {
  visibility: visible;
  opacity:1;
}
#snackbar.hide {
  visibility: hidden;
  opacity:0;
}

#snackbar2 {
  visibility: hidden;
  min-width: 100px;
  background-color: none;
  border-color: red;
  color: red;
  border-style:solid;
  border-width: 1.5px;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  right: 50px;
  top: 30px;
  font-size: 17px;
  transition: opacity 0.3s linear;
  opacity:0;
}

#snackbar2.show {
  visibility: visible;
  opacity:1;
}
#snackbar2.hide {
  visibility: hidden;
  opacity:0;
}

.sidenav {
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left:0px;
  background: none;
  overflow-x: hidden;
  padding: 8px 0;
  color: white;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  margin-left: 30px;
  font-family: 'Quicksand';
}

.sidenav a:hover {
  opacity:0.5;
  animation-name: pulse;
  animation-duration: 0.5s;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}







/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: white;
  color:black;
  text-align: center;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 24px;
}

.cover {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

.settings-content {
  background-color: white;
  color:black;
  text-align: center;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 24px;
}

#rightfloater {
  float:right;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}










#buttoncontainer {
  transform:translateY(10px);
}
.gamefield {
  max-width: 480px;
  height: 480px;
  margin: 80px auto;
  background-color:none;
  border-radius: 400px;

}

.top-row {
  display: flex;
  justify-content: center;
}

.top2-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
.middle-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0px;
}
.bottom2-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0px;
}
.bottom-row {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.gamebutton {
  height: 60px;
  width: 60px;
  background-color: none;
  border-style: solid;
  border-radius: 50%;
  border-width: 4px;
  display: inline-block;
}

.gamebutton:hover {
  border-radius: 50%;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}




/* Used Coolors.co to choose the colors (color selection website) */
/*Don't forget that the style sheet needs to be placed before the JS!!!!!!!!*/

.blue {
  border-color:#71A9F7;
}
.blue:hover {
  box-shadow:
    0 0 25px 0px #71A9F7,
    0 0 90px 0px #71A9F7;
}
.blue:active {
  background-color: rgba(113, 169, 247, 0.5);
}
.pink {
  border-color:#F59CA9;
}
.pink:hover {
  box-shadow:
    0 0 25px 0px #F59CA9,
    0 0 90px 0px #F59CA9;
}
.pink:active {
  background-color: rgba(245, 156, 169, 0.5);
}
.green {
  border-color:#A9E5BB;
  margin-right:100px;
}
.green:hover {
  box-shadow:
    0 0 25px 0px #A9E5BB,
    0 0 90px 0px #A9E5BB;
}
.green:active {
  background-color: rgba(169, 229, 187, 0.5);
}
.orange {
  border-color:#FB8B24;
}
.orange:hover {
  box-shadow:
    0 0 25px 0px #FB8B24,
    0 0 90px 0px #FB8B24;
}
.orange:active {
  background-color: rgba(251, 139, 36, 0.5);
}
.yellow {
  border-color:#FFF689;
}
.yellow:hover {
  box-shadow:
    0 0 25px 0px #FFF689,
    0 0 90px 0px #FFF689;
}

.purple {
  border-color:#9D75CB;
  margin-left:100px;
}
.purple:hover {
  box-shadow:
    0 0 25px 0px #9D75CB,
    0 0 90px 0px #9D75CB;
}


