@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


body{
	margin:0px;
	scroll-behavior: smooth;
}

#bg{
	background-image: url("bg.jpg");
	background-size: 100% 100%;
	height:360px;
	color:white;
	padding-top:50px;
}
#head a:visited {
   color:white;
}
a {
	color:white;
}
#head{
	width:100%;
	margin-top:50px;
	background-color:rgba(0,0,0,0.6);
	padding:20px 0px;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	font-family:Montserrat;
	font-size:25pt;
	transition: text-decoration 1s;
	color:white;
}

#head a:hover{
	text-decoration:underline;
	cursor:pointer;
}


#title{
	text-align:center;
	padding-top:40px;
	margin-bottom:10px;
	font-family:Montserrat;
	font-size:60pt;
}
#sub{
	text-align: center;
	margin-bottom:20px;
	font-size:30pt;
	font-family:Montserrat;
}

#info {
	line-height: 35px;
	font-family:Montserrat;
	font-size:24px;
	width:95%;
	margin-top:70px;
}
#topics{
	line-height: 35px;
	font-family:Montserrat;
	font-size:24px;
	width:100%;
	margin-top:70px;
}

#rates{
	line-height: 35px;
	font-family:Montserrat;
	font-size:24px;
	width:95%;
	margin-top:70px;
}


#contact{
	line-height: 35px;
	font-family:Montserrat;
	font-size:24px;
	width:90%;
	margin-top:70px;
}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size:23pt;
  text-align: center;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

h2{
	text-align: center;
}