
#cowimage{
	width:70px;
	height:60px;
	bottom:0px;
	position:fixed;
	animation: move 30s infinite;
	animation-timing-function: linear;
}

#cowimage:select{
	bottom:30px;
}

@keyframes move{
	0%{
		left:800px;
		bottom:0px;
	}
	49.999%{
		left:20px;
		transform: scaleX(1);
	}
	50%{
		left:20px;
		transform: scaleX(-1);
	}
	100%{
		left:800px;
		transform: scaleX(-1);
	}
}