@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,350,400,500,700,900');
@font-face {
    font-family: Nexa;
    src: url("Nexa Bold.otf") format("opentype");
}

@font-face {
    font-family: Nexa Light;
    src: url("Nexa-Light.otf") format("opentype");
}


body{
	background-color:#ededed;
	margin:0px;
	font-family: Roboto;
	font-weight:300;
	opacity:0;
	transition:1.5s;
}

#sidenav {
	background-color:white;
	height:100%;
	float: left;
    min-width: 250px;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.1);
    position: fixed;
    width: 25%;

    transform:translateX(-400px);
	transition:0.8s;
}

#sidenav-con {
	margin-left:20%;
}

#masthead {
	text-align:left;
	font-family: 'Roboto', sans-serif;
	font-weight:500;
	font-size:18pt;
	color:rgba(0,0,0,0.65);
	padding:70px 0px 70px 0px;

	transform:translateX(100px);
	transition:1.4s;
}

#tab-con {
	display:flex;
	flex-direction: column;
	width:80%;

	transform:translateX(100px);
	transition:1.4s;
}

#tab-con a{
	user-select: none;
	font-family: 'Roboto', sans-serif;
	font-weight:350;
	font-size:10.5pt;
	cursor:pointer;
	padding-bottom:10px;
	padding-top:10px;
	color:rgba(0,0,0,1);
	border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}

#tab-con-1{
	border-top: 1px solid rgba(51, 51, 51, 0.1);
}

#tab-con input{
	border:none;
	outline:none;
	font-size:10.5pt;
	font-weight:300;
	color:rgba(0,0,0,1);
}
#tab-con input::placeholder {
    color:rgba(0,0,0,0.3);
}

#proj-con {
	display:none;
	flex-direction: column;
	width:80%;
	margin-left:20%;
	transition: 0.8s;
}

#main {
	margin-left:25%;
	width:75%;
	height:100%;
	position:fixed;
	min-width:700px;
	overflow:scroll;
}

::-webkit-scrollbar { 
    display: none; 
}

.s{
	background-color:white;
	width:80%;
	padding:50px;
	height:auto;
	margin:10px 5% 20px 5%;
	box-shadow:0px 0px 10px 5px rgba(0,0,0,0.1);
	font-size:11pt;
	line-height:25px;
	border-radius:12px;
}

#slide {
	transform:translateY(-70px);
	transition:1s;
}

#title{
	transform:translateY(-50px);
	transition:2.2s;}


#main h1{color:rgba(0,0,0,0.7);
	font-size:17pt; font-family:Nexa;}
#main h2{color:rgba(0,0,0,0.6);
	font-size:13pt; font-family:Roboto; font-weight:400;}
#main h3{color:rgba(0,0,0,0.6);
	font-size:12pt; font-family:Nexa; font-weight:400;}

#cont-con{
	display:flex;
	width:400px;
	flex-direction:row;
	justify-content:center;
}
#cont-con a{color:black;}
.center {
	display:flex;justify-content: center;
}

#work-con{
	display:flex;
}

#work-con div{width:25%;margin:2.5%;}

#work-con p{margin:0;line-height: 0px;}

#work-con a{color:black;}

