body {margin:0; font-family:"Sintony"; font-size:14px;min-width:800px;}

#morebtn {
  float:right;
  padding-left:10px;
  padding-right:10px;
  padding-top:13px;
  padding-bottom:33px;
  margin-left:60px;
  border-radius: 120px;
  font-size:25pt;
  line-height: 0px;
  position: fixed;
  outline: none;
  transition: box-shadow 1s;


}
#morebtn:hover {
  transition: box-shadow 1s;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
}


#moreitems{
  position: fixed;
  float:right;
  margin-top:70px;
  margin-left:35px;
  text-align:center;
  line-height: 35px;
  display: none;
  color: rgba(0,0,0,0.7);
  cursor:pointer;
}
.moreit{transition: background-color 1s;width:100px;}
.moreit:hover {
  transition: background-color 2s;
  background-color: rgba(0,0,0,0.08);
}

#loadtext {
	text-align: center;
	font-size:22px;
	margin-top: 200px;
	letter-spacing: 1.5px;
}
#loadimage {
	zoom:0.4;
	margin-top: -70px;
	z-index:-1;
	filter:grayscale(100%);
}
.fader {
  animation-name: fader;
  animation-delay: 0s;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}

@keyframes fader {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade {
  animation-name: fade;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes fade {
  0% {opacity: 0;}
  50% {opacity: 0.6;}
  100% {opacity: 0;}
}

.topnav {
  cursor:pointer;
  overflow: hidden;
  border-bottom: solid 1px;
  border-bottom-color: #555;
  margin-top: 30px;
  width:50%;
  margin-left:auto;
  margin-right:auto;
}
.topnav-right {
	float:right;
	display:inline-block;
}
.nava {
	display:inline;
	float:left;
  display: block;
  color: rgba(0,0,0,0.7);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: inherit;
  transition: background-color 1s;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  overflow: hidden;
  transition: background-color 1s;
}

.dropdown .dropbtn {
  font-size: inherit;    
  border: none;
  outline: none;
  color:rgba(0,0,0,0.7);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  opacity:0;
  display:none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content div {
  color:rgba(0,0,0,0.7);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropbtn{transition: background-color 1s;}
.nava:hover, .dropdown:hover .dropbtn {
  background-color: #dddd;
  transition: background-color 1s;
}

.dropdown-content div:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display:block;
  animation-name:containerdrop;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes containerdrop {
	from {opacity:0;transform: translateX(50px);}
	to{opacity:100;transform: translateX(93px);}
}



.dropdown2 .dropbtn2 {
  font-size: inherit;    
  border: none;
  outline: none;
  color:rgba(0,0,0,0.7);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content2 {
  opacity:0;
  display:none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content2 div {
  color:rgba(0,0,0,0.7);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content2 div:hover {
  background-color: #ddd;
}

.dropdown2:hover .dropdown-content2 {
  display:block;
  animation-name:containerdrop2;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes containerdrop2 {
	from {opacity:0;transform: translateX(133px);}
	to{opacity:100;transform: translateX(173px);}
}


#container {
	width: 50%;
	height: 250px;
	overflow: hidden;
	margin-top: 30px;
	margin-left:19%;
	background: white;
	transition: all .5s;
}
#container:hover {
	transform:scale(1.05);
}
.photo {
	height: 233px;
	width: 3550px;
	zoom:0.8;
	margin-bottom: 80px;
	object-fit: cover;
	margin-left: 2.5%;
	margin-right: 2.5%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.photo img {
 -webkit-transition: all 0.5s ease;
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
 -ms-transition: all 0.5s ease;
 transition: all 0.5s ease;
 filter:saturate(0%) brightness(130%);
}
.photo img:hover {
 cursor: pointer;
 filter:saturate(100%) brightness(110%);
}

.textcontainer{
	font-family:Open Sans;
	font-weight: 300;
	color:rgba(0,0,0,0.85);
	font-size: 11pt;
	letter-spacing: 0.3px;
	width:50%;
	margin: auto;
	margin-top:40px;
	text-align:justify;
}
.footer {
	border-top:solid 1px;
	padding-top:20px;
	width:50%;
	cursor:default;
	margin:auto;
	color:rgba(0,0,0,0.7);
	font-family: "Open Sans";
	font-size:8pt;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align:justify;
}

.image2 {
	height:185px;
	width:185px;
	margin-top:30px;
	margin-bottom:20px;
	object-fit: cover;
}










/* LOGIN FORM     */
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.imgcontainer {
  text-align: center;
  margin: 40px 0 12px 0;
  position: relative;
}

.container {padding: 16px;}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 25%;
  border-radius: 10px;
}
.close {
  position: absolute;
  right: 8px;
  top: -62px;
  zoom:0.7;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
#loginbtn {
  padding-left:20px;
  padding-right:20px;
  padding-top:10px;
  padding-bottom:10px;
  border-radius: 10px;
  margin-bottom:15px;
  margin-top:20px;
  outline: none;
}
#centerbtn {text-align:center;}






#share {
  text-align: center;
}

.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}
.modal-content2 {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%;
  padding:50px 0px;
  border-radius: 10px;
}
.imgcontainer2 {
  text-align: center;
  margin: -26px 0 12px 0;
  margin-bottom: 40px;
  position: relative;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 15px;
  height: 15px;
  zoom:1.5;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: linear-gradient( #400080, transparent), linear-gradient( 200deg, #d047d1, #ff0000, #ffff00);
  color: white;
}
.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}






.modal3 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}
.modal-content3 {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%;
  padding:50px 0px;
  border-radius: 10px;
  min-width:300px;
}
.imgcontainer3 {
  text-align: center;
  margin: -26px 0 12px 0;
  margin-bottom: 40px;
  position: relative;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container > div {
  height:200px;
  width: 300px;
  margin: 10px;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .flex-container {
  flex-direction:column;
}
}
