/*@import url(https://rsms.me/inter/inter.css);
html {
    font-family: Inter, sans-serif
}

@supports (font-variation-settings:normal) {
    html {
        font-family: 'Inter var', sans-serif
    }
}*/

@font-face {
    font-family: Avenir Pro;
    src: url("fonts/AvenirNextLTPro-Regular.woff") format("woff");
}

h3 {
    font-size: 20px
}

body {
    font-family: "Avenir Pro";
    font-weight: 400;
    line-height: 25px;
    letter-spacing: .03em;
    font-size: 15px;
    color: rgba(0, 0, 0, .8);
    margin-bottom: 100px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

a {
    text-decoration: none;
}

.padding {
    max-width: 750px;
    padding: 1.2em;
    padding-top: 0;
    margin: 0 auto
}

#main-content {
    max-width: 750px
}

#navbar {
    overflow: hidden;
    margin-bottom: 20px;
    position: fixed;
    width: 100%;
    left: 0;
    background-color: #fff;
    height: 50px;
    top: 0;
    padding-top: 55px;
    z-index: 1;
    transition: all .5s ease-in-out
}

#navcon {
    max-width: 750px;
    margin: auto
}

#navbar a {
    cursor: pointer;
    float: left;
    line-height: 10px;
    text-align: center
}

#navbar.active {
    box-shadow: 0 4px 10px -2px rgba(0, 0, 0, .2);
    padding-top: 10px;
    height: 46px
}

.hover {
    transition: transform .3s ease-in-out;
    margin-left: 15px;
    padding: 12px
}

.hover:hover {
    transform: translateY(-10px)
}

#logo img {
    width: 34px;
    transition: all .2s ease-in-out;
    margin-right: 10px
}

#logo img:hover {
    transform: rotate(90deg)
}

#logo-text {
    font-size: 17px;
    font-weight: 700;
    padding: 12px 0;
    transition: color .5s ease-in-out
}

#logo-text:hover {
    color: rgba(0, 0, 0, .4)
}

#right {
    float: right
}

#lead {
    margin-top: 200px;
    display: block;
    color: rgba(0, 0, 0, .85);
    width: 100%;
    text-align: justify
}

#bio h3 {
    margin-bottom: 0;
    color: rgba(0, 0, 0, .8);
    font-size: 25pt
}

#bio a{
    color:rgba(0,0,0,0.85);
    border-bottom:1px solid;
    padding-bottom:2.12px;
}

svg {
    float: right;
    margin-left: 3.5rem;
    margin-bottom: 0;
    max-width: 190px;
    opacity: .8;
    z-index: 0
}

#contact {
    margin-top: 50px;
    display: flex;
    width: 500px
}

.btn {
    outline: 0;
    margin-right: 13px;
    padding: 11px 15px;
    border: rgba(0, 0, 0, .85) 1.5px solid;
    border-radius: 24px;
    font-size: 15px;
    cursor: pointer;
    transition: all .4s ease-in-out
}

.btn i {
    margin-right: 7px
}

.btn:hover {
    background-color: rgba(0, 0, 0, .85);
    color: #fff
}

#fact {
    margin-left: 20px;
    text-align: center;
    max-width: 90%;
    font-family: Indie Flower;
    font-size: 22px
}

.btn2 {
    outline: 0;
    margin-right: 13px;
    color: #fff;
    padding: 11px 15px;
    border: #fff 1.5px solid;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .85);
    transition: all .4s ease-in-out
}

.btn2 i {
    margin-right: 7px
}

.btn2:hover {
    background-color: #fff;
    border: rgba(0, 0, 0, .85) 1.5px solid;
    color: rgba(0, 0, 0, .85)
}

.btn5 {
    min-width: 210px;
    max-width: 210px;
    max-height: 53px;
    min-height: 53px;
    outline: 0;
    margin-right: 13px;
    color: #fff;
    padding: 11px 15px;
    border: #fff 1.5px solid;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .85);
    transition: all .4s ease-in-out
}

.btn5 i {
    margin-right: 7px
}

.btn5:hover {
    background-color: #fff;
    border: rgba(0, 0, 0, .85) 1.5px solid;
    color: rgba(0, 0, 0, .85)
}

#facts {
    max-width: 750px;
    margin-top: 100px;
    padding: 10px 35px;
    border: 2px solid rgba(0, 0, 0, .6);
    border-radius: 5px;
    padding-bottom: 20px
}

#social {
    max-width: 750px;
    margin-top: 60px;
    padding: 10px 35px;
    border: 2px solid rgba(0, 0, 0, .6);
    border-radius: 5px;
    padding-bottom: 20px
}

.projects-con {
    background-color: rgba(0, 0, 0, .85);
    max-width: 750px;
    margin-top: 60px;
    padding: 10px 35px;
    border: 2px solid rgba(0, 0, 0, .6);
    border-radius: 5px;
    padding-bottom: 20px;
    color: #fff
}

.project {
    display: flex
}

.project h4 {
    width: 200px;
    font-size: 17px
}

.project p {
    width: 400px
}

.project a {
    font-size: 26px;
    color: #fff;
    margin-top: 1.3rem;
    margin-left: 1.3rem
}

.btn3 {
    width: 80px;
    height: 30px;
    outline: 0;
    line-height: 0;
    color: #fff;
    border: #fff 1.5px solid;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    transition: all .4s ease-in-out;
    margin-top: 1.3rem;
    margin-left: 1.3rem
}

.btn3 i {
    margin-right: 7px
}

.btn3:hover {
    background-color: #fff;
    color: rgba(0, 0, 0, .85)
}

.btn4 {
    width: 80px;
    padding: 7px 13px;
    height: 30px;
    outline: 0;
    line-height: 0;
    color: rgba(0, 0, 0, .85);
    border: rgba(0, 0, 0, .85) 1.5px solid;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    transition: all .4s ease-in-out;
    margin-top: 1.3rem;
    margin-left: 7px
}

.btn4 i {
    margin-right: 7px
}

.btn4:hover {
    background-color: rgba(0, 0, 0, .85);
    color: #fff
}

.panel {
    display: flex
}

.sidebar {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 140px;
    border-right: solid 1px #000
}

.sidebar a {
    padding-top: 10px;
    cursor: pointer
}

.sidebar a:hover {
    text-decoration: underline
}

.editor {
    margin-left: 30px;
    width: 50%;
    min-width: 300px
}

#blog input {
    font-size: 15px;
    height: 25px;
    outline: 0;
    width: 80%;
    min-width: 300px;
    font-size: 15px
}

#stuff {
    width: 140%;
    height: 400px;
    outline: 0;
    font-size: 15px;
    padding: 10px;
    border: 1px #000 solid
}

.input {
    margin-top: 10px;
    outline: 0
}

#btn-publish {
    padding: 7px 13px;
    font-size: 15px;
    font-weight: 400;
    border: solid 1.5px rgba(0, 0, 0, .85);
    outline: 0;
    transition: background-color .5s ease-in-out;
    border-radius: 30px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, .85);
    color: #fff
}

#btn-publish:hover {
    cursor: pointer;
    color: #000;
    background-color: #fff
}

#fact-flex {
    display: flex
}

@media screen and (max-width:800px) {
    #fact-flex {
        display: block
    }
    .padding {
        padding: 30px
    }
    .project p {
        display: none
    }
    svg {
        display: none
    }
    #logo img {
        margin-left: 40px
    }
    #logo-text {
        display: none
    }
    #navcon {
        margin-right: 20px
    }
}

#notebook {
    display: none;
    margin-top: 160px
}

.header {
    font-size: 30px
}

#sorting {
    width: 100px;
    text-align: center;
    height: 35px;
    outline: 0;
    line-height: 0;
    color: rgba(0, 0, 0, .85);
    border: rgba(0, 0, 0, .85) 1.5px solid;
    border-radius: 50px;
    font-size: 15px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    transition: all .4s ease-in-out;
    margin-top: 12px
}

#articles {
    margin-top: 30px;
    border-bottom: 2px solid rgba(0, 0, 0, .35)
}

.article {
    border-top: 2px solid rgba(0, 0, 0, .35);
    cursor: pointer;
    max-height: 100px;
    transition: all .4s ease-in-out;
    overflow: hidden
}

.article:hover {
    background-color: rgba(0, 0, 0, .09);
    color: #0e407d
}

.title-date {
    display: flex;
    justify-content: space-around;
    width: 100%
}

.article i {
    margin-top: 1.3rem;
    float: right;
    text-align: right;
    width: 50%
}

.article h3 {
    width: 70%;
    float: left
}

.article p {
    margin-top: 0
}

#article-container {
    display: none;
    margin-top: 150px
}

.article-title {
    font-size: 38px;
    padding-top: 40px;
    margin-bottom: 40px;
    line-height: 50px
}

.article-date {
    padding-bottom: 10px;
    color: rgba(0, 0, 0, .55)
}

.article-body {
    max-width: 650px;
    margin-top: 80px
}

.article-body p,
div {
    font-family: Inter var;
    line-height: 27px
}

.article-body pre {
    background-color: rgba(0, 0, 0, .8);
    border-radius: 10px;
    padding: 15px;
    color: #fff
}

.article-body h3 {
    margin-bottom: 20px
}

#container {
    display: none;
    margin-top: 150px
}

.projects {
    background-color: rgba(0, 0, 0, .85);
    max-width: 750px;
    margin-top: 60px;
    padding: 10px 35px;
    border: 2px solid rgba(0, 0, 0, .6);
    border-radius: 5px;
    padding-bottom: 20px;
    color: #fff
}

#projectfilter {
    width: 100px;
    text-align: center;
    height: 35px;
    outline: 0;
    line-height: 0;
    color: rgba(0, 0, 0, .85);
    border: rgba(0, 0, 0, .85) 1.5px solid;
    border-radius: 50px;
    font-size: 15px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    transition: all .4s ease-in-out;
    margin-top: 12px
}

#project-page {
    display: none;
    margin-top: 150px
}

.project-title {
    font-size: 38px;
    padding-top: 40px;
    margin-bottom: 40px;
    line-height: 50px
}

.project-date {
    padding-bottom: 10px;
    color: rgba(0, 0, 0, .55)
}

.project-body {
    max-width: 100%;
    margin-top: 80px
}

.project-body p,
div {
    font-family: Inter var;
    line-height: 27px
}

.project-body pre {
    background-color: rgba(0, 0, 0, .8);
    border-radius: 10px;
    padding: 15px;
    color: #fff
}

.project-body h3 {
    margin-bottom: 20px
}

.path {
    stroke-dasharray: 4319.2763671875;
    stroke-dashoffset: 4319.2763671875;
    animation: dash 4s linear forwards
}

@keyframes dash {
    to {
        stroke-dashoffset: 0
    }
}