---
layout: page
title: Bubble Tea
permalink: /blog/bbt/
---

<h1>{{page.title}}</h1>

<div class='articles-con'>
    {% assign articles = site.articles | sort: 'date' | reverse %}
    {% for post in articles %}
        {% if post.category == "bbt" %}
        <a href='{{ post.url }}' class='articlelink'>
            <h2>{{ post.title }}</h2>
            <b>{{ post.date | date: "%b %d, %Y" }}</b>
            <p>{{ post.content | strip_html | truncatewords: 30 }}</p>
        </a>
        {% endif %}
    {% endfor %}
</div>

<br>