

<footer class='footer'>
	<div class='footer-text'>
		<p><b>Jayson Tian</b> jots down his arbitrary thoughts on this website.
		<br>He likes to doodle digitally, create music, binge netflix, learn biology, design web stuff, and write about himself in third person.</p>
	</div>
	<div class='socialmedia'>
		<a href='https://www.instagram.com/jaezun/?hl=en'><i class="fab fa-instagram"></i></a>
		<a href='https://github.com/Jaysontian'><i class="fab fa-github"></i></a>
		<a href='https://soundcloud.com/picxight-productions'><i class="fab fa-soundcloud"></i></a>
		<a href='https://www.youtube.com/channel/UCdwsgMvJzdwnKI8WM5kYO5A/'><i class="fab fa-youtube"></i></a>
	</div>
</footer>
