
<script>
	$(window).scroll(function() {
    var scroll = $(window).scrollTop();
    if (scroll > 0) {
        $("#navbar").addClass("active");
    }
    else {
        $("#navbar").removeClass("active");
    }
	});
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-jsx.min.js"></script>


<div id='navbar'>
    <div id='navcon'>
        <a class='links logo' href="{{ '/index' | prepend: site.baseurl }}">Jayson Tian</a>

        <div class='right'>
            <a class='links' href="{{ '/aboutme' | prepend: site.baseurl }}">About</a>
			<a class='links' href="{{ '/projects' | prepend: site.baseurl }}">Projects</a>
            <a class='links' href="{{ '/_pages/blog' | prepend: site.baseurl }}">Blog</a>
    	</div>
    </div>
</div>
