$content-width: 800px;

$bg-image:url('https://images.unsplash.com/photo-1493552211023-ca273fb46057?ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80');
$bg-image2: url('https://images.unsplash.com/photo-1536261895466-756de4eaece0?ixlib=rb-1.2.1&auto=format&fit=crop&w=1049&q=80');
$main: #101010;
$main-light: #202020;

$color: white;
$color-light: #c4c4c4;

$font-style: 'Questrial', sans-serif;

$link-color:#274773;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
