



*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



h1, h2, h3, h4 {
    font-family: Barlow Condensed, sans-serif;
    font-weight:600;
}

h1 {
    font-size:22pt;
    text-transform: uppercase;
}

h2 {
    font-size:25pt;
    text-transform: uppercase;
}

button {
    font-family: Open Sans;
    font-size:13pt;
    cursor:pointer;
    transition:all ease-in-out 0.2s;
}

.btn1 {
    font-family: Barlow Condensed;
    font-size: 15pt;
    background-color:var(--base-color);
    font-weight: 500;
    outline:none;
    border:2px solid var(--base-color);
    border-radius:5px;
    color:white;
    padding:5px 20px;
    display:flex;
    text-transform:uppercase;
}

.btn1:hover{
    color:var(--base-color);
    background-color:white;
    border:2px solid var(--base-color);
}

.btn1 i{
    margin-top:5.5px;
    margin-right:10px;
    font-size:11.5pt;
}

.btn2 {
    font-family: Barlow Condensed;
    background-color:rgba(255, 255, 255, 0);
    font-weight: bold;
    outline:none;
    border:2px solid var(--base-color);
    border-radius:5px;
    color:var(--base-color);
    padding:8px 25px;
    display:flex;
}

.btn2:hover {
    color:white;
    background-color:var(--base-color);
}

.marginleft {
    margin-right:20px;
}

.flex {
    display:flex;
    justify-content: space-between;
}


