.articlelink{
    background-color:rgba(255, 255, 255, 0);
    font-weight: bold;
    outline:none;
    border-radius:5px;
    color: var(--theme-fg);
    padding:0px 0px;
    display:flex;
    justify-content: space-between;
    margin-bottom:5px;
    cursor:pointer;
}


.articlelink:hover{
    color:var(--base-color);
}

.articlelink h2{
    margin:5px 0px;
    font-weight:400;
    font-size:15pt;
}

.articlelink p{
    margin:3px 0px;
    font-weight:normal;
    font-size:10pt;
}


p, li, article ul, article ol {
    font-size:12pt;
    line-height: 24px;
  }

article img, article p img {
    max-width:100%;
    width:auto;
    border-radius:7px;
    margin:20px auto;
    max-height:400px;
    align-self: center;
    padding: auto;
}

article .highlight, pre{
    background-color:rgb(221, 221, 221);
    padding:5px 15px;
    border-radius: 6px;
    white-space: pre-wrap;
}
