body {
  margin: 0%;
  padding: 0%;
  align-items: center;
	color: $color;
  background-color: $main;
	font-family: $font-style;
	line-height: 1.6;
  font-size:13.5pt;
	-webkit-font-smoothing: antialiased;
  background-size:fit;
}
::-webkit-scrollbar { width: 0 !important }

.background {
  width:30%;
  height:100%;
  position:fixed;
  top:0px;
  left:0px;
  z-index:-1;
  background-image: linear-gradient(to right, rgba(0,0,0,0), $main), $bg-image2;
  background-size: cover 100vh;
  background-repeat: no-repeat;
}

.background-top {
  width:100%;
  height:300px;
  top:-1px;
  left:-1px;
  z-index:-1;
  background-image: linear-gradient(rgba(0,0,0,0), $main), $bg-image2;
  background-size: cover;
  background-repeat: no-repeat;
}

button {
  border:none;
  padding:10px 20px;
  background-color:#242424;
  color:#b0b0b0;
  border-radius:5px;
  font-size:12pt;
  cursor: pointer;
  outline:none;
}

button:hover{
  color:white;
}

h1 {
  font-size:30pt;
}

p {
  font-size:13.5pt;
  color:$color;
}

a {
  color:$color;
  text-decoration: none;
  border-bottom:2px solid $link-color;
}

a:hover{
  background-color: $link-color;
}
/* Aside */

main {
  width:70%;
  height:100%;
  right:0px;
  margin-left:25%;
  z-index:2;
  padding-left:100px;
}

article{
  max-width:650px;
  margin:auto;
  padding:20px 15px;
  min-height:600px;
}
nav {
  width: 24vw;
  padding:20px 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: left;
  position: fixed;
  color: #fff !important;
  z-index:1;
}

nav a, nav a:visited{
  color:white;
  text-decoration: none;
  font-size:13pt;
  margin-bottom:5px;
  border:none;
  transition:all 0.15s ease-in-out;
}

nav a:hover {
  color:grey;
  background-color:rgba(0,0,0,0);
}

li, ul {
  color:$color;
}

pre {
  border-radius:6px;
  background-color:$main-light;
}

footer {
	text-align: center;
	padding: 40px;
}


.logo {
  font-family: 'Lora';
  font-size:25pt;
  transition:color 0.3s ease-in-out;
  margin:25px 0px;
  margin-top:35px;
}

.logo:hover {
  cursor:pointer;
  color:$link-color;
}

.social-con {
  width:100%;
  max-width:180px;
  display:flex;
  justify-content: space-between;
  margin-bottom:20px;
}

.social-con a{
  font-size:15pt;
}





.recent-con{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.postitem {
  width:300px;
  padding:10px 20px;
  background-color:#242424;
  border-radius:5px;
  cursor: pointer;
  outline:none;
  border:none;
  margin-bottom:20px;
}

.postitem h3{
  font-size:15pt;
  margin:3px 0px;
}

.postitem time{
  font-size:11pt;
  color:$color-light;
}

.postitem:hover {
  background-color:#303030;
}

#sidemenu {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  background-color:rgba(365,365,365,0.05);
  padding:10px 20px;
  border-radius:5px;
  top:0px;
  left:0px;
  width: 100%;
}
