
.post h1{
	font-size:44px;
	font-weight: 700;
	padding-bottom:10px;
}

.post time{
	font-weight:700;
	color:rgba(0,0,0,0.6);
}

.post img{
	width:100%;
	height:360px;
	object-fit: cover;
	margin-top:25px;
	margin-bottom:40px;
}

.post h2{
	font-size:28px;
	font-weight: 700;
	padding-bottom:10px;
	padding-top:15px;
}

.post blockquote{
	background-color:#b3ffc7;
	border:2px solid #58a16c;
	border-radius:4px;
	padding:20px;
	padding-bottom:10px;

}

.post a{
	color:inherit;
}
.post a:link{
	color:inherit;
	border-bottom:3px solid #60bf86;
}

.post a:hover{
	text-decoration: none;
	background-color: #b3ffc7;
	color:inherit;
}
.post a:active{
	background-color: #b3ffc7;
	border-bottom:3px dotted blue;
}
.post a:visited{
	border-bottom:3px dotted grey;
}