@import url(https://rsms.me/inter/inter.css);
html {
    font-family: Inter, sans-serif
}

@supports (font-variation-settings:normal) {
    html {
        font-family: 'Inter var', sans-serif
    }



/*@font-face {
    font-family: Avenir Pro;
    src: url("fonts/AvenirNextLTPro-Regular.woff") format("woff");
}*/
.movedown{
    margin-top:160px;
}
html{
  -webkit-font-smoothing: antialiased;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #404040;
    overflow-x: hidden;

}

p {
    box-sizing:border-box;
    color:rgb(64, 64, 64);
    display:block;
    font-family:"Inter var", "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
    font-feature-settings:"kern", "liga", "clig", "calt";
    font-kerning:normal;
    font-size:16.78px;
    font-stretch:100%;
    font-style:normal;
    font-variant-caps:normal;
    font-variant-east-asian:normal;
    font-variant-ligatures:normal;
    font-variant-numeric:normal;
    font-weight:400;
    line-height:27.9552px;
    margin-block-end:26.88px;
    text-size-adjust:100%;
    -webkit-font-smoothing:antialiased;
}

a {
    color:black;
    text-decoration: none;
}

a:hover{
  color:red;
  text-decoration: none;
}

h2{
    font-weight: 700;
    font-size:25px;
}


.padding {
    max-width: 750px;
    padding: 1.2em;
    padding-top: 0px;
    margin: 0 auto
}
.padding2 {
    max-width: 950px;
    padding: 1.2em;
    padding-top: 0px;
    margin: 0 auto
}

/*
#navbar {
    overflow: hidden;
    position: fixed;
    width: 100%;
    left: 0;
    background-color: #fff;
    top: 0;
    z-index: 1;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 4px 10px -2px rgba(0, 0, 0, .2);
    height: 80px;
    padding-top:12px;
    font-size:33px;
}

#navbar a{
float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar.active {
    box-shadow: 0 4px 10px -2px rgba(0, 0, 0, .2);
    padding-top: 12px;
    height: 60px;
    font-size:23px;
}
*/



#icon{
    margin-left:10px;
    font-size:27px;
    margin-top:-5px;
}

#logo{
    width:160px;
    height:60px;
    transition: all 0.3 ease-in-out;
    cursor:pointer;
}
#logo.active {
    width:110px;
    height:43px;
    margin-top:7px;
}

#navcon {
   margin-right:20px;
   margin-left:20px;
}

.menuicon{
    margin-top:1rem;
    margin-right:1rem;
    font-size:22px;
    cursor:pointer;
}

#titlebar {
    font-size:15.5px;
    position:fixed;
    top:17px;
    left:40%;
    opacity:0;
    font-weight:700;
    color:rgba(0,0,0,0.8);
    text-align:center;
    transition: opacity 0.25s ease-in-out;

}

.right {
    float: right
}

.search{
    height:35px;
    font-size:15.5px;
    border:solid 1px rgba(0,0,0,0.2);
    padding-left:10px;
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
    outline:none;
    margin-top:10px;
    border-right: none;
}

.search-icon{
    border:solid 1px rgba(0,0,0,0.2);
    padding:8.5px;
    margin-left:-4px;
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
    border-left: none;
}


#navbar {
    position:fixed;
    z-index: 1;
    top:0px;
    left:0px;
    width:100%;
    overflow: hidden;
    background-color:white;
    transition: all 0.4s ease-in-out;
    box-shadow: 0 4px 10px -2px rgba(0, 0, 0, .2);
    height: 80px;
    padding-top:10px;
}

#navbar.active{
    height: 56px;
    padding-top:0px;
}

.flex{
    display:flex;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top:20px;
  border:1px solid rgba(0,0,0,0.15);
  border-radius:5px;
  padding:20px;
  text-align: left;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 5px 5px;
  margin-right:10px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-radius:10px;
  width:120px;
  padding-left:10px;
}

.dropdown-content p{
    padding-left:10px;
}

.dropdown-content a:hover {
  background-color: #ddd;
  text-decoration: none;
  color:inherit;
}


#intro{
position: relative;
  text-align: center;
  color: white;
}

#holder{
    position: absolute;
    top: 37%;
    left:60%;
    transform: translate(-50%, -50%);
    width:100%;
}
#intro h1{
    font-size:60px;
    font-weight: 700;
    text-align:left;
}
#intro p{
    margin-top:35px;
    color:white;
    text-align:left;
    max-width:600px;
    font-size:18px;
}
#intro a{
    margin-top:35px;
    color:white;
    text-align:left;
    font-size:18px;
    margin-left:0px;
    float:left;
    border:1px white solid;
    padding:12px 15px;
    border-radius: 8px;
    cursor:pointer;
    transition:all 0.25s ease-in-out;
}

#intro a:hover{
    color: white;
    background: rgba(0,0,0, 0.5);
    mix-blend-mode: multiply;
}

#bg{
    width:100%;
    margin-top:-100px;
    height:500px;
    z-index: 0.5;
    filter: brightness(0.85);
    object-fit: cover;
}

.gallery{
    display:flex;
    margin-bottom:50px;
    margin-top:25px;
    justify-content: space-between;
}

.post-con{
    display:flex;
    width:210px;
    height:265px;
    flex-direction: column;
    cursor:pointer;
    padding-bottom:20px;
    padding-right:5px;
    box-shadow: 0 4px 10px -2px rgba(0, 0, 0, .3);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.post-con:hover {
    color:red;
}

.thumbnail{
    width:210px; 
    height: 150px;
    object-fit: cover;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.heading{
    font-weight: 700;
    font-size:30px;
    margin-top:10px;
}

.post-con h5{
    font-weight:700;
    font-size:19px;
    padding-left:12px;
    margin-top:-15px;
}

.post-con p{
    font-size:14px;
    padding-top:7px;
    padding-left:12px;
    font-weight: 700;
    color:rgba(0,0,0,0.5);
}





