
<script>
	$(window).scroll(function() {     
    var scroll = $(window).scrollTop();
    if (scroll > 0) {
        $("#navbar").addClass("active");
        $("#logo").addClass("active");
        $('#titlebar').css('opacity','1');
    }
    else {
        $("#navbar").removeClass("active");
        $("#logo").removeClass("active");
        $('#titlebar').css('opacity','0');
    }
	});

    function myFunction(x) {
      x.classList.toggle("change");
    }

    var i = 1;
    function togglemenu(){
        i *= -1;
        if (i==-1){
            $(".dropdown-content").css("display",'block');
            $('.menuicon').removeClass('fa-bars');
            $('.menuicon').addClass('fa-times');
        }
        else{
            $(".dropdown-content").css("display",'none');
            $('.menuicon').addClass('fa-bars');
            $('.menuicon').removeClass('fa-times');
        }
    }
</script>

<div id='navbar'>
    <div id='navcon'>
        <div class="dropdown">
            <i onclick='togglemenu()' class="menuicon fas fa-bars"></i>
            <div class="dropdown-content">
                <div class='flex'>
                    <div>
                        <p><b> Courses</b></p>
                        <a href="#">Grade 11</a>
                        <a href="#">Grade 12</a>
                        <a href="#">Biochemistry</a>
                        <a href="#">AP Prep</a>
                        <a href="#">More</a>
                    </div>
                    <div>
                        <p><b> Resources</b></p>
                        <a href="#">Study Guide</a>
                        <a href="#">Graphing</a>
                        <a href="#">IB Standards</a>
                        <a href="#">More</a>
                    </div>
                    <div>
                        <p><b> Bionotes</b></p>
                        <a href="#">About</a>
                        <a href="#">Contact</a>
                        <a href="#">Login</a>
                    </div>
                </div>
            </div>
        </div> 

        <a href="{{ '/index' | prepend: site.baseurl }}"><img src='https://raw.githubusercontent.com/Jaysontian/Wiki/master/logo.png' id='logo'></img>
        
        <a id='titlebar'>{{ page.title }}</a> 

        <div class='right'>
            <input class='search' type="text" placeholder="Search" aria-label="Search">
            <i class='search-icon fas fa-search'></i>
    	</div>
    </div>
</div>






 