body {
	margin-top:20px;
	font-family:Times;
	font-weight: 300;
	font-size:10.5pt;
	margin-left:200px;
}



#navbar {
	margin-bottom:30px;
	display:flex;
	flex-direction: row;
}

#navbar div{
	margin:0px 10px;
	cursor:pointer;
}

#navbar div.selected{
	background-color:rgba(0,0,0,0.08);
	text-decoration: underline;
}

#stats {
	width:100px;
	display:fixed;
}



/* THE DUCKSHOP ********************/

fieldset {
	width:160px;
	margin-bottom:20px;
	padding-top:10px;
}

#projects {
	display:none;
	font-family:arial;
	font-size:8.5pt;
}
#projects button{
	outline:none;
	margin:0px;
	padding:0px 10px;
	border:solid 1px grey;
	text-align: center;
	background-color:rgba(0,0,0,0.10);
	cursor:pointer;
	width:210px;
	margin-bottom:20px;
	height:80px;
	overflow:scroll;
	margin-right:10px;
}
#projects button.disabled{
	 pointer-events: none;
	/* for "disabled" effect */
	opacity: 0.5;
	background: #CCC;
}

#projects h3{font-size:8.5pt; margin-bottom: 0px} #projects p{margin-top:5px;margin-bottom:10px;line-height: 15px}

#projects button:hover{
	background-color:rgba(0,0,0,0.05);
}



p{
	margin:0px;
	line-height: 20px;
}

button{
	margin-bottom: 7px;
}

#towntab {
	display:none;
}
#metropolis {display:none;}

.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    55%  { transform: translate(0, 7px); }
    to   { transform: translate(0, -0px); }    
}

.slide {
	animation-name: slide;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes slide {
    from { transform: translate(-17px, 0px); }
    to {transform: translate(7px, 0px);}
 
}

#townart {
	cursor:default;
	position:fixed;
	margin-top:-50px;
}

canvas{
	margin-top:100px;
	background-color:rgba(0,0,0,0.1);
}

#townart a{
	cursor:pointer;
}

#canvas{
		display:fixed;
		top:90px;
		left:-200px;
        width: 400px;
        height: 400px;
        margin: auto;
        position: relative;
        background-color: #ddd;
        border: solid 3px #333
}

#player{

}
