@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: rgb(252, 251, 249);
  --headerBackground: rgba(252, 251, 249, 0.73);
  --link-hover: rgba(232, 227, 224, 0.439); /* bg-linkHover class */ 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-color);
}


main {
  margin: 0 auto;
  max-width: none;
}

main > :not(img, video) {
  max-width: 700px;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

header {
  width:100vw!important;
}

@media (min-width: 768px) {
  .project > :not(.not-prose, video) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: calc(100% - 80px);
  }
}
