<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>01_projects - 2.md</key>
			<dict>
				<key>lastModification</key>
				<real>606604296.09242105</real>
				<key>version</key>
				<dict>
					<key>01a0f89e88e3cf562b2c7ba86191f668c394cc70b6e6dbc84e1c12292ae2c3ff</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>01_projects.md</key>
			<dict>
				<key>lastModification</key>
				<real>606604296.08934605</real>
				<key>version</key>
				<dict>
					<key>01a0f89e88e3cf562b2c7ba86191f668c394cc70b6e6dbc84e1c12292ae2c3ff</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>02_about - 2.md</key>
			<dict>
				<key>lastModification</key>
				<real>606604296.08934104</real>
				<key>version</key>
				<dict>
					<key>01a0f89e88e3cf562b2c7ba86191f668c394cc70b6e6dbc84e1c12292ae2c3ff</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>02_about.md</key>
			<dict>
				<key>lastModification</key>
				<real>606604296.089347</real>
				<key>version</key>
				<dict>
					<key>01a0f89e88e3cf562b2c7ba86191f668c394cc70b6e6dbc84e1c12292ae2c3ff</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>01_projects.md</string>
		</array>
		<array>
			<string>02_about.md</string>
		</array>
		<array>
			<string>01_projects - 2.md</string>
		</array>
		<array>
			<string>02_about - 2.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>01a0f89e88e3cf562b2c7ba86191f668c394cc70b6e6dbc84e1c12292ae2c3ff</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
