<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2019-11-09-learning-defintion.md</key>
			<dict>
				<key>lastModification</key>
				<real>615141677.46367502</real>
				<key>version</key>
				<dict>
					<key>548fba346eac6e7370d7c4e67823abfc81c9adb0886048a3b31cf339a1a92a91</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2019-12-07-react-js-notes.md</key>
			<dict>
				<key>lastModification</key>
				<real>615141677.47809196</real>
				<key>version</key>
				<dict>
					<key>548fba346eac6e7370d7c4e67823abfc81c9adb0886048a3b31cf339a1a92a91</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>2019-12-31-the-year-in-review.md</key>
			<dict>
				<key>lastModification</key>
				<real>615141677.50034201</real>
				<key>version</key>
				<dict>
					<key>548fba346eac6e7370d7c4e67823abfc81c9adb0886048a3b31cf339a1a92a91</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>2019-12-5-overthinking.md</key>
			<dict>
				<key>lastModification</key>
				<real>615141677.56672597</real>
				<key>version</key>
				<dict>
					<key>548fba346eac6e7370d7c4e67823abfc81c9adb0886048a3b31cf339a1a92a91</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>2020-02-29-how-to-use-matcha.md</key>
			<dict>
				<key>lastModification</key>
				<real>615141677.57531095</real>
				<key>version</key>
				<dict>
					<key>548fba346eac6e7370d7c4e67823abfc81c9adb0886048a3b31cf339a1a92a91</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>2020-03-12-Elisa Testing.md</key>
			<dict>
				<key>lastModification</key>
				<real>615141677.62575996</real>
				<key>version</key>
				<dict>
					<key>548fba346eac6e7370d7c4e67823abfc81c9adb0886048a3b31cf339a1a92a91</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>2020-03-12-bored-things.md</key>
			<dict>
				<key>lastModification</key>
				<real>615141677.58883405</real>
				<key>version</key>
				<dict>
					<key>548fba346eac6e7370d7c4e67823abfc81c9adb0886048a3b31cf339a1a92a91</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>2020-06-11-Global Warming and Diseases.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>629780846.07067299</real>
				<key>lastModification</key>
				<real>629780846.07067299</real>
				<key>version</key>
				<dict>
					<key>548fba346eac6e7370d7c4e67823abfc81c9adb0886048a3b31cf339a1a92a91</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>2020-06-11-Road Trip Ontario.md</key>
			<dict>
				<key>lastModification</key>
				<real>615141677.65935004</real>
				<key>version</key>
				<dict>
					<key>548fba346eac6e7370d7c4e67823abfc81c9adb0886048a3b31cf339a1a92a91</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>2020-11-12-things-I-realize.md</key>
			<dict>
				<key>lastModification</key>
				<real>629780849.98045301</real>
				<key>version</key>
				<dict>
					<key>548fba346eac6e7370d7c4e67823abfc81c9adb0886048a3b31cf339a1a92a91</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>2020-11-16-being-efficient.md</key>
			<dict>
				<key>lastModification</key>
				<real>629780849.98045397</real>
				<key>version</key>
				<dict>
					<key>548fba346eac6e7370d7c4e67823abfc81c9adb0886048a3b31cf339a1a92a91</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>Untitled.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>629780858.03886604</real>
				<key>lastModification</key>
				<real>629780858.03886604</real>
				<key>version</key>
				<dict>
					<key>548fba346eac6e7370d7c4e67823abfc81c9adb0886048a3b31cf339a1a92a91</key>
					<integer>14</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2019-11-09-learning-defintion.md</string>
		</array>
		<array>
			<string>Untitled.md</string>
		</array>
		<array>
			<string>2019-12-07-react-js-notes.md</string>
		</array>
		<array>
			<string>2019-12-31-the-year-in-review.md</string>
		</array>
		<array>
			<string>2019-12-5-overthinking.md</string>
		</array>
		<array>
			<string>2020-02-29-how-to-use-matcha.md</string>
		</array>
		<array>
			<string>2020-03-12-bored-things.md</string>
		</array>
		<array>
			<string>2020-03-12-Elisa Testing.md</string>
		</array>
		<array>
			<string>2020-06-11-Global Warming and Diseases.md</string>
		</array>
		<array>
			<string>2020-06-11-Road Trip Ontario.md</string>
		</array>
		<array>
			<string>2020-11-12-things-I-realize.md</string>
		</array>
		<array>
			<string>2020-11-16-being-efficient.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>548fba346eac6e7370d7c4e67823abfc81c9adb0886048a3b31cf339a1a92a91</key>
			<integer>14</integer>
		</dict>
	</dict>
</dict>
</plist>
