body {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  margin:0;
  background-color:#f1f0f3;
  scroll-behavior: smooth;
}

#loading {
  position:fixed;
  width:100%;
  height:100vh;
  background:#fff url("https://digitalsynopsis.com/wp-content/uploads/2016/06/loading-animations-preloader-gifs-ui-ux-effects-18.gif") no-repeat center;
  z-index: 999999999;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name:fadeout;
  display:none;
}

html {
  scroll-behavior: smooth;
}

.header {
  background-image: url("../../files/wallpaper.jpg");
  animation-name: fadein;
  object-fit: cover;
  text-align: left;
  object-fit: cover;
  background-size: 100%;
  padding-bottom:300px;
  padding-top:100px;
  padding-left:100px;
  font-size:24px;
  color: black;
  font-family: "roboto";
  font-weight: 300;
  animation:1s;
  animation-name:fadein;

} 
@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@keyframes fadeout {
  from {
    opacity:1;
  }
  to {
    opacity:0;
  }
}
#big {
  font-size:35pt;
  font-family: "Montserrat", sans-serif;
}
#small {
  font-size:12pt;
  font-family: "Montserrat", sans-serif;
  line-height: 14px;
  color:gray;
}
#smaller{
  color:rgba(0,0,0,0.54);
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  line-height: 14px;
  padding:14px;
  margin-top:40px;
  background-color:white;

}
#smaller:hover{
  animation-name: buttonhover;
  animation-duration: 3s;
}
@keyframes buttonhover {
  from {background-color: white}
  to {background-color: darkgray}
}
ul {
  list-style-type: none;
  margin: 0;
  padding:0;
  overflow: hidden;
  background-color: white;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.19);
  animation-name: fadein;
  animation-duration: 2s;
  z-index: 99999;
}


li a {
  display: block;
  color: rgba(0,0,0,0.54);
  font-weight:500;
  font-size: 13px;
  font-stretch:100%;
  text-align: center;
  padding-left:25px;
  padding-right:25px;
  padding-top:25px;
  padding-bottom:25px;
  text-decoration: none;
  float: right;
  position: sticky;
}

#special:hover {
  animation-name: logohover;
  animation-duration: 4s;
}

#soundcloud {
  padding-top:100px;
}

@keyframes logohover {
  from {background-color: white;
    color:black;}
  to {background-color: black;
    color:white;}

}

@keyframes hover {
  from {background-color: white;}
  to {background-color: #D7D7D7;}
}

li a:hover {
  animation-name: hover;
  animation-duration: 4s;
}
.active {

}

* {
  box-sizing: border-box;
  padding:0;
  margin:0;
}
.row {
  background-color:#f1f0f3;
  margin-bottom:200px;
  position:static;
}
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
}

.column {
  float: left;
  width: 20%;
  margin:20px;
  margin-left:40px;
}

img {
  margin-bottom: -4px;
  filter: contrast(75%);
}

img.hover-shadow {
  transition: 1s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 12px 30px 0 rgba(0, 0, 0, 0.19);
  filter: contrast(120%)saturate(120%);
}
.headingtext {
  text-align:center;
  font-family:"Montserrat";
  font-size:20px;
  padding-bottom:10px;
}
.headingtext1 {
  text-align:center;
  font-family:"Montserrat";
  font-size:14px;
  color:rgba(0,0,0,0.54);
}
.overlay {
  opacity:0;
  transition:1s;
}
.column:hover .overlay {
  opacity: 1;
}
.text {
  text-align:center;
  padding-top:23px;
  color:gray;
  font-family:"Lato";
}
.uav {
  text-align:center;
  font-size:12px;
  padding-top: 10px;
  font-family:"Lato";
  color:red;
}











ul.specul {
  position:absolute;
  background-color:#f1f0f3;
  top:1200px;
  display:flex;
  margin:0;
  padding-top:35px;
  transform: translateY(120px);
  width:100%;
  height:50%;
  justify-content: center;

}

ul.specul li.spec {
  list-style:none;
  margin:0 5px;
}

ul.specul li.spec a.speca .fa {
  font-size: 40px;
  color: blue;
  padding-top:0px;
  transition: .5s;
  padding-right: 3px;
}

ul.specul li.spec a.speca span {
  font-family:"lato";
  transform: translateY(-7.5px);
  padding:0;
  margin-top:0;
  position:absolute;
  color: #262626;
  letter-spacing: 2px;
  transition: .5s;
}

ul.specul li.spec a.speca {
  text-decoration: none;
  display:absolute;
  display:block;
  width:105px;
  height:40px;
  background: #fff;
  text-align:left;
  padding-left: 10px;
  transform: rotate(-30deg) skew(25deg) translate(0,0);
  transition:.5s;
  box-shadow: -20px 20px 10px rgba(0,0,0,.5);
}
ul.specul li.spec a.speca:before {
  content: '';
  position: absolute;
  top:10px;
  left:-20px;
  height:100%;
  width:20px;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewY(-45deg);
}
ul.specul li.spec a.speca:after {
  content: '';
  position: absolute;
  bottom:-20px;
  left:-10px;
  height:20px;
  width:100%;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewX(-45deg);
}

ul.specul li.spec a.speca:hover {
  transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
  box-shadow: -50px 50px 50px rgba(0,0,0,.5);
}

ul.specul li.spec:hover .fa {
  color:#fff;
}

ul.specul li.spec:hover span {
  color:#fff;
}


ul.specul li.spec:hover:nth-child(2) a.speca:before{
  background: #365492;
}
ul.specul li.spec:hover:nth-child(2) a.speca:after{
  background: #4a69ad;
}


ul.specul li.spec:hover:nth-child(3) a.speca:before{
  background: #097aa5;
}
ul.specul li.spec:hover:nth-child(3) a.speca:after{
  background: #53b9e0;
}

ul.specul li.spec:hover:nth-child(4) a.speca:before{
  background: #b33a2b;
}
ul.specul li.spec:hover:nth-child(4) a.speca:after{
  background: #e66a5a;
}


ul.specul li.spec:hover:nth-child(5) a.speca:before{
  background: #d81c3f;
}
ul.specul li.spec:hover:nth-child(5) a.speca:after{
  background: #e46880;
}


