.work-type{
    display: flex;
    align-items:center;
    margin-bottom:20px;
}
.type {
    margin-right: 40px;
    text-align:center;
    background-color:$base-color;
    padding:10px 15px;
    padding-top:30px;
    border-radius:4px;
    color:white;
    width:200px;
}
.type img{
    margin:auto;
}
.type h2{
    font-weight:900;
    font-size:15pt;
}

@media only screen and (max-width: 700px) {
    .work-type{
        flex-direction: column;
    }
    .work-type #tags-con {
        width:100%;
        flex-direction:column;
    }
    .work-type #tags-con a{
        margin:auto;
        min-width:75%;
        margin-top:30px;
    }
    .type {
        width:75%;
        margin:auto;
        display:flex;
        flex-direction:row-reverse;
        align-content: center;
        align-items: center;
        padding:0px 20px;
        justify-content: space-between;
    }
    .type img{
        margin:0px 0px;
        height:30px;
        width:30px;
    }
}