<!DOCTYPE html>
<html>
  {% include head.html %}
  {% include header.html %}
  

  <main id='main'>

      {{content}}

    <!--<div id="particles-js"></div>-->

  </main>
</html>


<script>
    $('.fa-question-circle').click(()=>{
    $('.credit p').show();
    $('.credit').addClass('active');
    $('.fa-question-circle').hide();
    $('<i class="far fa-times-circle"></i>').appendTo('.credit').click(()=>{
      $('.credit p').hide();
      $('.credit').removeClass('active');
      $('.fa-question-circle').show(); 
      $('.fa-times-circle').remove()
    })
  })
</script>
