
  {% include head.html %}

<head>
  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap" rel="stylesheet">
</head>
  <main>
    {% include header.html %}
    
    <body style='margin-top:80px; width:100%;'>
      <main class='pagecon'>
        <article>
          <h1 class='p-title'>{{page.title}}</h1>
              <p class='p-time'>By <a href='/'>Jayson Tian</a> on {{ page.date | date: "%B %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if
                page.meta %} • {{ page.meta }}{% endif %}
              </p>
              <div class='p-groups'>
                {% for category in page.categories %}
                  <button onclick="window.location.href='/categories/{{category}}'">{{category | capitalize}}</button>
                {% endfor %}
                {% for tag in page.tags %}
                  <div>{{tag | capitalize}}</div>
                {% endfor %}
              </div>
          {{ content }}
        </article>
        {% include footer.html %}
      </main>
    </body>

</main>
