.projects-wrapper {
  width: 100vw;
}

.projects-wrapper section {
  width: 70vw;
  max-width: 800px;
  margin: auto;
  margin-bottom: 100px;
}

.projects-wrapper section h2 {
  font-weight: 600;
  margin-bottom: 30px;
  font-size: 20pt;
  mix-blend-mode: color-dodge;
  color: rgb(228, 228, 228);
}

.projects-wrapper .grid {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 180px !important;
  grid-auto-rows: 180px;
}

.projects-wrapper .card {
  width: auto;
  height: auto;
  min-height: 190px;
  background-color: rgb(39, 39, 39);
  border-radius: 16px;
  box-shadow: 0px 10px 15px 3px rgba(0, 0, 0, 0.112);
  cursor: pointer;
  overflow: hidden;
}

.card .icon-wrap {
  position: relative;
  top: 10px;
  left: 10px;
  background-color: var(--black);
  width: 50px;
  height: 50px;
  margin-top: -50px;
  transform: translateY(50px);
  border-radius: 15px;
  display: flex;
  justify-content: center;
}
.card .icon-wrap img {
  align-self: center;
  width: 32px;
  height: 32px;
}

.projects-wrapper .col-span-2 {
  grid-column: span 2;
}
.projects-wrapper .row-span-2 {
  grid-row: span 2;
}

/* card types */

/*************************** PROJECT CARD ***************/

.card-project .img-wrap {
  height: 62%;
  width: 100%;
  overflow: hidden;
  transition: all ease-in-out 0.25s;
}

.card-project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-project .info-wrap {
  padding: 15px 20px;
}

.card-project h3 {
  font-size: 15pt;
  font-weight: 600;
  margin: 10px 0px;
}

.card-project p {
  color: rgb(126, 126, 126);
  font-size: 11pt;
  line-height: 23px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-project:hover > div.img-wrap {
  height: 57%;
}

/*************************** EXHIBIT CARD ***************/

.card-exhibit img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease-in-out 0.2s;
}
.card-exhibit:hover > img {
  transform: scale(1.1);
}

.card-exhibit .info-wrap {
  position: relative;
  margin-top: -110px;
  height: 120px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background: -webkit-gradient(
    linear,
    0 0%,
    0 100%,
    from(rgba(0, 0, 0, 0)),
    to(rgb(0, 0, 0))
  );
}
.card-exhibit .info-wrap h2 {
  mix-blend-mode: normal;
  margin: 30px 20px;
  font-size: 16pt;
}

@media only screen and (max-width: 600px) {
  .projects-wrapper .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 180px !important;
    grid-auto-rows: 180px;
    gap: 30px;
  }
  .projects-wrapper .col-span-2 {
    grid-column: span 1;
  }
  .projects-wrapper .row-span-2 {
    grid-row: span 2;
  }
}
